@use '../../../variables.scss' as vars;

.dynamic_button{
    // background-color: vars.$secondary_color;
    // border: 1px solid vars.$secondary_color;
    // color: vars.$primary_color;
    // padding: 10px 20px;
    // border-radius: 10px;
    // border: 2px solid #323232;
    // box-shadow: 3px 3px #323232;
    
    border: 2px solid #323232;
    box-shadow: 3px 3px #323232;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(vars.$secondary_color, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(vars.$secondary_color, 0.3);
    cursor: pointer;
    color: vars.$primary_color;
}
.dynamic_button:hover{
    cursor: pointer;
}
.dynamic_button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}