@use 'variables' as vars;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: url('../.../../public/Images/cornered-stairs.svg') no-repeat center center fixed;
    background-size: cover;
    background-color: #000; /* Fallback color */
    overscroll-behavior: none; /* Optional: prevents rubber-band scroll on mobile */
    color: vars.$primary_color;  
    overflow-x: hidden;
  }