
// .home{
//   background-color: pink;
// }
@use 'variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body{
  background-color: vars.$base_color;
  color: vars.$primary_color;
  background-image: url('../public/Images/slanted-gradient_2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.file_converter_container_row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.ant-select-selector {
  background-color: white !important; 
  border: 1.5px solid vars.$secondary_color !important;
}