@use '../../variables.scss' as vars;

.display_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fileConverter_banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    .fileConverter_banner_image{
        width: 350px;
        height: 350px;
        position: fixed;
        top: 5vh;
        left: 10vw;
        filter: drop-shadow(0 0 0.75rem gray);
    }
    h1{
        width: clamp(300px, 40vw, 600px);
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        text-align: center;
        padding-right: 5vw;
    }
}
