@use '../../variables.scss' as vars;

.fileConverter_banner{
    width: 100%;
    max-height: 300px;
}
.file_converter_file_input_container{
    background-color: #E2E2E2;
    color: black;
    padding: 5rem 10px;
    border: 4px dashed rgb(187, 184, 184);
    margin-top: 10px;
    height: 350px;
    .file_converter_col{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        .addFile_button{
            background-color: vars.$secondary_color;
            border: 1px solid vars.$secondary_color;
            color: vars.$primary_color;
            padding: 10px 20px;
            border-radius: 10px;
            border: 2px solid #323232;
            box-shadow: 3px 3px #323232;
            cursor: pointer;
            margin: 35px 0;
        }
        .addFile_button:hover{
            cursor: pointer;
        }
        .addFile_button:active {
            box-shadow: none;
            transform: translate(3px, 3px);
        }
    }
}

.dropzone.active {
    border-color: #4299e1;
    background-color: #e3f2fd;
}