.card__container{
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: black;
}