.card__container{
    backdrop-filter: blur(8px) saturate(300%);
    -webkit-backdrop-filter: blur(8px) saturate(300%);
    background-color: rgba(255, 255, 255, 0.67);
    // border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.67);
    color: black;
    filter: drop-shadow(0 0 10px rgb(226, 230, 246));

}



// .brutalist-card {
    
//   }